<div class="nav">

  <a href="/events"><span class="entypo-search"></span><div class="divider"></div></a>
  <a href="/events/new"><span class="entypo-plus"></span><div class="divider"></div></a>
  <a href="/users/edit"><span class="entypo-user"></span><div class="divider"></div></a>
  <a href="http://www.ianyang.co"><span class="entypo-info"></a>

</div>
