<div class="underheader"></div>

<section class="joinnow">

  <div class="carousel">
  	<h1>Have your 30 minute moment</h1>
  	<h2>Find interesting people to join you for a quick lunch</h2>
  </div>

  <a href='/propose'><button>TRY IT OUT</button></a>
</section>


<div class="container">


  <div class="threecol">
    <%= image_tag "josh.jpg" %>
    <h2>"I love food. But I love my ladies over food even more! This is the most efficient way of dating, and I can't live without it. Bravo!"</h2>
  </div>

  <div class="threecol">
    <%= image_tag "donielle.jpg" %>
    <h2>"I'm always so busy at work. Momnts has given me the best man of my life. I love it!"</h2>
  </div>

  <div class="threecol">
    <%= image_tag "justin.jpg" %>
    <h2>"Blah blah blah blah blah... Meh...... <br>I'm a hipster and I can't like stuff."</h2>
  </div>

</div>