<div class='update-container'>

  <div class="update">
    <div class='update-header'>
      <span class="logo">!</span><h1>momnts</h1><h1>.us</h1>
    </div>
    <h1>Momnts.us for iPhone and Android devices</h1>
    <h1>Coming soon</h1>
  </div>

</div>