<h2>Find a location</h2>

<div class="locationsearch">

  <%= form_tag(controller: 'events', action: 'search', method: "") do %>

    <div>Venue name or type e.g. cafes</br> <%= text_field_tag 'find'%></div>
    <div>Location e.g. San Francisco</br><%= text_field_tag 'place' %></div>

  <%= submit_tag 'Find' %>
  <% end %>

  <div class="resultslist"></div></br>
  <p>Powered by <img class="yelp_logo" src="http://images.wikia.com/fleck/images/c/c8/Yelp_Logo.png" /></p>
</div><br>

<script src="../assets/event_locationsearch.js"></script>
