<div class="container">

  <div class="event search-bar">
    <%= button_tag "Today", class:"active" %>
    <%= button_tag "Tomorrow" %>
  </div>

  <div id="map"></div>

  <div class="event results">
  </div>

</div>

<%= render :partial => 'partials/nav' %>
<%= javascript_include_tag 'event.js' %>
