<div class="container">

  <div class="event search-bar">
    <%= button_tag "Today", class:"active" %>
    <%= button_tag "Tomorrow" %>
  </div>

  <div id="map"></div>

  <div class="event result-container">
    <div class="result"></div>
    <button class="left"><</button>
    <button class="right">></button>
  </div>

</div>

<div class="nav">
  <div><a href="/events" class="current"><span class="entypo-search"></span></a></div>
  <div><a href="/events/new"><span class="entypo-plus"></span></a></div>
  <div><a href="/users/edit"><span class="entypo-user"></span></a></div>
  <div><a href="http://www.ianyang.co"><span class="entypo-info"></a></div>
</div>

<%= javascript_include_tag 'search.js' %>
