<div class="container">

  <div class="event search-container">

    <div class="logo-container">
      <div class="logo">
        <%= image_tag 'logo.png' %>
      </div>
    </div>

    <div class="info">
      <h1><%= Time.now.strftime("%A") %></h1>
      <h3><%= @city %></h3>
    </div>

  </div>

  <div class="today-container">
    <div class="heading">Today</div>
    <div class="result"></div>
  </div>

  <div class="tomorrow-container">
    <div class="heading">Tomorrow</div>
    <div class="result"></div>
  </div>

  <div class="acceptance-container">
  </div>

</div>

<div class="nav">
  <div><a href="/events" class="current"><span class="entypo-search"></span></a></div>
  <div><a href="/events/new"><span class="entypo-plus"></span></a></div>
  <div><a href="/users/edit"><span class="entypo-user"></span></a></div>
  <div><a href="http://www.ianyang.co"><span class="entypo-info"></a></div>
</div>

<%= javascript_include_tag 'search.js' %>




