<div id="container">

  <div id="map"></div>

  <div id="events-sidebar">
    <div class="buttons">
      <button>Find</button>
      <button>Create</button>
    </div>
  <%= render :partial => 'find' %>
  <%= render :partial => 'create' %>

  </div>

<%= javascript_tag do %>
    var currentlocate = <%= [@userlat, @userlon] %>
<% end %>

<script src="/assets/event.js"></script>
<script src="../assets/event_locationsearch.js"></script>