<div id="container">

  <div id="map"></div>

  <div id="events-sidebar">

    <div class="sidebar_events">
      <nav>Search Places</nav>
      <%= render :partial => 'location' %>
    </div>

    <div class="access_events">
      <%= render :partial => 'form' %>
    </div>

</div>

<script src="/assets/event.js"></script>