<section class="container">

<div class="sidebar_events">

  <h1>Propose Event</h1>
    <%= render :partial => 'location' %>

</div>

<div class="access_events">

  <%= render :partial => 'form' %>

</div>

</section>