#map {
	width: 100%;
	height: calc(100% - 80px);
  position: absolute;
  float: left;
}

#events-sidebar {
  margin-left: 70%;
  width: 30%;
  height: calc(100% - 80px);
  overflow: scroll;
  position: absolute;
  background: rgba(250,250,250,0.4);
}

#events-sidebar nav{
  width: 100%;
  height: 35px;
  display: block;
  text-align: center;
  background: rgba(241, 196, 15,1.0);
  line-height: 35px;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

.events_search_results {
  height: 60%;
  overflow: scroll;
  width: 100%;
  display: block;
  border-bottom: 1px dotted rgba(200,200,200,1);
}

.show_attend {
  display: block;
  width: 100%;
}

#event_acceptor_identifier {
  width: 97%;
  height: 35px;
  margin: 20px 1% 20px 1%;
}

.show_attend input[type=submit] {
  margin: 0 20% 0 20%;
  background-color: rgba(231, 76, 60,1.0);
  width: 60%;
  color: white;
  font-size: 20px;
  font-weight: 300;
  border: none;
  border-radius: 5px;
}

.show_attend input[type=submit]:hover, .show_attend input[type=submit]:active {
  box-shadow: 0 0 5px white;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.5s;
}




.hidden {
  display:none;
}

.event img{
  width: 80px;
  border-radius: 50%;
  float: left;
  margin: 15px;
}

.event h4{
  line-height: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.event {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid rgba(200,200,200,1);
  background-color: rgba(250,250,250,0.8);
  margin: 10px 0;
}

.event:hover {
  border-right: 5px solid rgba(22,160,133,1);
  width: calc(100% - 5px);
}

input[type=button]{
  margin-bottom: 35px;
}






.sidebar_events {
  margin-left: 15px;
  margin-top: 50px;
  width: 60% px;
  display: inline;
  float: left;
  height: 980px;
  overflow: scroll;
  padding-right: 25px;
}

.location_search_container {
  height: 600px;
  overflow: scroll;
}

.access_events {
  margin-top: 50px;
  width: 40%;
  display: inline;
  float: right;
  padding-left: 100px;
  padding-top: 60px;
  border-left: 1px dotted rgba(200,200,200,1);
}

.yelp_logo {
  height: 25px;
  vertical-align: bottom;
}

.results_element {
  margin: 10px 0;
  width: 350px;
  border-bottom: 1px solid rgba(200,200,200,1);
  overflow: hidden;
}

.results_element:hover {
  border-right: 5px solid rgba(22,160,133,1);
}

.results_element a{
  float: left;
  margin-right: 10px;
  margin-top: 15px;
}

.results_element h3 {
  margin-top: 25px;
  height: 5px;
}

.results_element p {
  margin-top: 5px;
}
.results_element img {
  width: 80px;
  border-radius: 50%;
  margin-left: 10px;
}

.results_element button {
  margin-left: 90px;
  margin-bottom: 15px;
}

.when, .what, .where {
  margin: 30px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(200,200,200,1);
}

.confirm_img img{
  border-radius: 50%;
}

.acceptance {
  color: rgba(255,255,255,1);
  background-color: rgba(22,160,133,1);
  padding: 2px;
}

