#map {
	width: 960px;
	height: 500px;
  margin-top: 35px;
}

.show_events {
  margin-left: 35px;
  margin-top: 50px;
  width: 444px;
  display: inline;
  float: left;
  border-right: 1px dotted rgba(200,200,200,1);
}

.show_attend {
  margin-top: 50px;
  width: 36%;
  display: inline;
  float: right;
  padding-left: 100px;
}

.events_search {
  margin-left: 30px;
}

.events_search_results {
  height: 350px;
  overflow: scroll;
}

.hidden {
  display:none;
}

.event img{
  width: 80px;
  border-radius: 50%;
  float: left;
  margin: 15px;
}

.event h4{
  line-height: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.event {
  width: 380px;
  overflow: hidden;
  border-bottom: 1px solid rgba(200,200,200,1);
  margin: 10px 0;
}

.event:hover {
  border-right: 5px solid rgba(22,160,133,1);
  margin-right: -5px;
}

input[type=button]{
  margin-bottom: 35px;
}

.sidebar_events {
  margin-left: 15px;
  margin-top: 50px;
  width: 60% px;
  display: inline;
  float: left;
  height: 980px;
  overflow: scroll;
  padding-right: 25px;
}

.location_search_container {
  height: 600px;
  overflow: scroll;
}

.access_events {
  margin-top: 50px;
  width: 40%;
  display: inline;
  float: right;
  padding-left: 100px;
  padding-top: 60px;
  border-left: 1px dotted rgba(200,200,200,1);
}

.yelp_logo {
  height: 25px;
  vertical-align: bottom;
}

.results_element {
  margin: 10px 0;
  width: 350px;
  border-bottom: 1px solid rgba(200,200,200,1);
  overflow: hidden;
}

.results_element:hover {
  border-right: 5px solid rgba(22,160,133,1);
}

.results_element a{
  float: left;
  margin-right: 10px;
  margin-top: 15px;
}

.results_element h3 {
  margin-top: 25px;
  height: 5px;
}

.results_element p {
  margin-top: 5px;
}
.results_element img {
  width: 80px;
  border-radius: 50%;
  margin-left: 10px;
}

.results_element button {
  margin-left: 90px;
  margin-bottom: 15px;
}

.when, .what, .where {
  margin: 30px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(200,200,200,1);
}

.confirm_img img{
  border-radius: 50%;
}

.acceptance {
  color: rgba(255,255,255,1);
  background-color: rgba(22,160,133,1);
  padding: 2px;
}

