.underheader {
	width: 100%;
	height: 80px;
}

.joinnow {
	width: 100%;
	height: 440px;
	float: left;
	background-image: url(/assets/background1.jpg);
	background-size: cover;
	margin: 0px auto;
	display: block;
}

.joinnow h1, .joinnow h2 {
	color: white;
	text-align: center;
	font-weight: 100;
}

.joinnow h1 {
	margin-top: 120px;
	font-size: 48px;
}

.joinnow h2 {
	margin-top: 30px;
	font-size: 24px;
}

.joinnow button {
	font-family: Courier;
	font-size: 18px;
	width: 200px;
	height: 50px;
	border: 0px solid #fff;
	color: rgba(255,255,255,1);
	background-color: rgba(22,160,133,1);
	margin: 50px auto;
	display: block;
}

.joinnow button:hover {
	box-shadow: 0px 0px 5px white;
	-o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.5s;
}


.joinnow a:link {
	text-decoration: none;
}

.threecol {
	float: left;
	display: inline;
	width: 220px;
	margin: 50px;
	text-align: center;
}

.threecol img {
	margin-bottom: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}


