@import "clickables";

.event.search-bar {
  width: 95%;
  margin: 10px auto;
  text-align: center;
  overflow: hidden;
  height: 35px;
  background: $green;
  @include border-radius(3px);
  & button {
    width: 50%;
    float: left;
    margin: 0;
    @include no-appearance();
    @include real-width();
    border: none;
    height: 35px;
    color: darken($green, 10%);
    font-size: 1.4em;
  }
  & .active {
    background: lighten($green, 10%);
    color: white;
  }
}

#map {
  width: 95%;
  margin: 0 auto;
  height: 80px;
}

.event.result-container {
  width: 95%;
  margin: 0 auto;
  background: lighten($grey, 10%);
  height: 240px;
}
