@import "clickables";

.event.search-container {
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  background-image: url(/assets/sanf.jpg);
  background-size: cover;
  & .logo-container {
    width: 120px;
    height: 100%;
    float: left;
    position: relative;
    & .logo {
      width: 60px;
      height: 60px;
      margin: 30px;
      overflow: hidden;
      img {
        width: 100%;
        -webkit-animation: spin 12s linear infinite both;
        -moz-animation: spin 12s linear infinite both;
        -o-animation: spin 12s linear infinite both;
        animation: spin 12s linear infinite both;
      }
    }
  }
  & .info {
    width: -webkit-calc(100% - 120px);
    float: left;
    height: 100%;
    color: white;
    text-align: center;
    & h1 {
      padding-top: 30px;
      font-size: 2.4em;
      margin: 0;
    }
    & h3 {
      font-size: 1.4em;
      margin: 0;
      font-weight: 300;
    }
  }
}

.event.loading {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
  & img {
    width: 100%;
  }
}

.today-container, .tomorrow-container {
  margin: 10px auto;
  width: 100%;
  min-height: 240px;
  overflow: hidden;
  display: none;
  & .heading {
    width: 30%;
    height: 30px;
    background: $blue;
    text-align: center;
    line-height: 30px;
    border-bottom: 2px solid darken($blue, 10%);
    color: white;
    font-size: 1.2em;
    margin-bottom: 5px;
    box-shadow: 0 1px 1px $grey;
  }
}




