@import "clickables";

// signin

.signin.container {
  background-image: url(/assets/background.jpg);
  background-size: cover;
  position: relative;
}

.signin.container .header {
  width: 80%;
  height: 80px;
  padding-top: 30px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  & .logo-container {
    width: 100px;
    height: 100%;
    float: left;
    & .logo {
      width: 60px;
      height: 60px;
      overflow: hidden;
      & img {
        width: 100%;
      }
    }
  }
  & .text {
    width: -webkit-calc(100% - 100px);
    height: 100%;
    float: left;
    text-align: center;
    & h1 {
      float: left;
      height: 60px;
      line-height: 60px;
      margin: 0 0 0 5px;
      color: white;
      font-weight: 400;
    }
    & h1:nth-child(2) {
      font-weight: 200;
    }
  }
}

.signin.container .form {
  margin: 10px auto;
  position: relative;
  & input {
    text-align: left;
  }
}

.signin.container .btn {
  width: 80%;
}

// users form

.user.container {
  // background-image: url(/assets/background1.jpg);
  // background-size: cover;
  position: relative;
}

.user.container .header {
  width: 95%;
  margin: 5px auto;
  height: 35px;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 35px;
  text-shadow: 0 0 1px $grey;
}

.user.container .form {
  width: 95%;
  margin: 10px auto;
  &.password {
    & .input {
      display: none;
    }
  }
}

.user.container .nav-container {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  & .btn {
    width: 49%;
    float: left;
    margin: 0;
  }
  & .btn-warning {
    margin-left: 2%;
  }
}
